[submodule "dependency/rlottie"]
	path = dependency/rlottie
	url = https://github.com/Samsung/rlottie.git
[submodule "dependency/cmake-ios-toolchain"]
	path = dependency/cmake-ios-toolchain
	url = https://github.com/leetal/ios-cmake.git
